  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="main-content">

    {{>header}}
    <p>This site was created by Adnan Ghazzaal. It uses data from mapbox api and weatherstack api.
      <br>
      When user inputs location, it is first pushed to mapbox api to get coordinates. After that they are part of the query to the weatherstack api for the actual weather data.
      This application was created as a learning project to learn working with node and express.
    </p>
    <img src="./img/robot.png" alt="" />
    </div>
    {{>footer}}
  </body>
</html>
